{{#if typed}}
    <div id="footer" class="footer">
      <span>© Copyright 2017 by Johnsen Zhou.</span>
    </div>
{{else}}
    <div id="footer" class="normal-footer">
      <span>© Copyright 2017 by Johnsen Zhou.</span>
    </div>
{{/if}}