<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="Johnsen Zhou"/>
    <meta name="keywords" content="Johnsen"/>
    <title>Johnsen Zhou</title>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{#if isdemo}}
        <link rel="stylesheet" href="/stylesheets/demo.css">
    {{/if}}
</head>
<body>
    <canvas id="canvas"></canvas>
    {{!--index body--}}
    {{{body}}}
    <!--引入底部栏模板-->
    {{> footer}}

    
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    {{#if typed}}
        <script src="/javascripts/lib/require.js" data-main="./javascripts/typed"></script>
    {{/if}}
    {{#if isdemo}}
        <script src="/javascripts/demo.js"></script>
    {{/if}}
</body>
</html>
