<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Johnsen Zhou"/>
    <meta name="keywords" content="Johnsen"/>
    <title>Johnsen Zhou</title>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{#if isSocket}}
        <link rel="stylesheet" href="/stylesheets/socket.css">
    {{/if}}
    {{#if isdemo}}
        <link rel="stylesheet" href="/stylesheets/demo.css">
    {{/if}}
</head>
<body>
    {{#if isSocket}}

    {{else}}
        <canvas id="canvas"></canvas>
    {{/if}}
    
    {{!--index body--}}
    {{{body}}}
    <!--引入底部栏模板-->
    {{> footer}}
    
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/javascripts/lib/require.js" data-main="./javascripts/main"></script>
</body>
</html>
