.demo-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  top: 40%;
  left: 50%;
  min-width: 850px;
  max-height: 600px;
  overflow: auto;
  transform: translate(-50%, -50%);
}
/* 移动端样式优化 */
@media screen and (max-width: 800px) {
  .demo-content {
    top: 50%;
    min-width: 0 !important;
  }
}
@media screen and (max-width: 1000px) {
  .demo-content {
    top: 50%;
    min-width: 580px;
  }
}
@media screen and (max-height: 700px) {
  .demo-content {
    max-height: 400px;
  }
}
.demo-item {
  width: 220px;
  margin: 1em;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 6px -1px #cfcfcf;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.demo-item:hover {
  box-shadow: 0 1px 10px -1px #959595;
}
.demo-title {
  font-size: 1.4em;
  /* text-align: center; */
}
.demo-icon {
  margin-top: .5em;
}
.demo-icon::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: -ms-linear-gradient(left,#45eaff,#b286ff,#fe9c95,#FFEB3B);
  background: -moz-linear-gradient(left,#45eaff,#b286ff,#fe9c95,#FFEB3B);
  background: -o-linear-gradient(left,#45eaff,#b286ff,#fe9c95,#FFEB3B);
  background: -webkit-linear-gradient(left,#45eaff,#b286ff,#fe9c95,#FFEB3B);
  background: linear-gradient(left,#45eaff,#b286ff,#fe9c95,#FFEB3B);
  margin: 1em 0;
}
.git-detail, .number {
  display: inline-block;
  padding: 3px 5px 1px 5px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
  color: #333;
  font: 600 12px/14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.git-detail:hover {
  background-color: #ddd;
  background-image: linear-gradient(to bottom,#eee 0,#ddd 100%);
}
.git-star, .git-fork {
  padding-left: 20px;
  background: url(../img/github.png) left center no-repeat;
  background-size: 16px 16px;
  text-shadow: 0 1px 0 #fff;
}
.number {
  position: relative;
  margin-right: 1em;
}
.number:hover {
  color: #4183C4;
}
.number::before {
  content: '';
  position: absolute;
  display: inline-block;
  z-index: 2;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 50%;
  left: -2px;
  margin-top: -4px;
  border-width: 4px 4px 4px 0;
  border-right-color: #f5f5f5;
}
.number::before:hover {
  border-right-color: #ddd;
}
.number::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 7px;
  left: -3px;
  z-index: 0;
  width: 4px;
  height: 4px;
  background: #ccc;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.footer {
  opacity: 1;
	bottom: 3em;
}
