.socket-box {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

.chatTitle {
  position: fixed;
  display: none;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background: #6088e6;
  z-index: 9999;
  text-align: center;
  color: #fff;
  font-weight: 500;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 80px 20px;
}

.message {
  /* height: 50px; */
}

.message::after {
  content: '.';
  display: block;
  height: 0;
  width: 0;
  visibility: hidden;
  clear: both;
}

.message.typing .messageBody {
  color: #fff;
}

.username {
  display: block;
  padding: 5px 0;
  /* text-align: right; */
  font-size: 16px;
  /* font-weight: 700; */
}

.massageTime {
  padding-left: 1em;
  font-size: 12px;
  color: #696969;
}

.messageBody {
  display: inline-block;
  max-width: 90%;
  margin-bottom: 6px;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #6088e6;
  border-radius: 6px;
  background: #6088e6;
  color: #fff;
  font-weight: 400;
}

/* .messageBody::before {
  position: absolute;
  content: ' ';
  top: 10px;
  left: -21px;
  border-top: 10px transparent dashed;
  border-left: 10px transparent dashed;
  border-right: 10px #ccc solid;
  border-bottom: 10px transparent dashed;
} */

/* Input */
.inputBox {
  position: fixed;
  display: none;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #6088e6;
}
.inputMessage {
  bottom: 0;
  height: 60px;
  border: none;
  padding-left: 10px;
  width:80%;
}
.inputMessage:focus {
  outline: none;
}
.sendIcon {
  display: inline-block;
  width: 30px;
  position: absolute;
  height: 30px;
  top: 15px;
  right: 5%;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url('../img/send.png');
}