* {
	margin: 0;
	padding: 0;
}
html, body {
	min-height: 100vh;
	font-family: Futura, sans-serif;
	font-size: 14px;
  background: #fff;
	color: #999;
}
a {
	text-decoration: none;
}
::selection {
	background: rgba(3, 169, 244, 0.56);
	color: #fff;
}

/* 主页样式 */
.info-content, .error-content {
	position: absolute;
	top: 50%;	
	left: 50%;
	transform: translate(-50%, -50%);
}
.typed, .typed-cursor {
	color: #333;
	font-size: 3em;
	/* text-shadow: rgba(24, 24, 24, 0.6) 1px 2px 2px; */
}

.typed-cursor{
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	-ms-animation: blink 1s infinite;
	-o-animation: blink 1s infinite;
	animation: blink 1s infinite;
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.sites {
	opacity: 0;
	margin-top: 3em;
	text-align: center;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	color: #2196F3;
	transition: all .6s;
	-moz-transition: all .6s; /* Firefox 4 */
	-webkit-transition: all .6s; /* Safari and Chrome */
	-o-transition: all .6s; /* Opera */
}
.sites-animate {
	opacity: 1;
	margin-top: 1em;
}
.sites-content {
	margin-top: 2em;
}
.sites-content a {
	color: #777;
}
.sites-content a:hover {
  color: #00B7FF;
}
.sites-content p {
	margin-bottom: .8em;
}

/* 错误页样式 */
.error-content {
	display: table-cell;
	text-align: center;
}
.error-title {
	margin-bottom: 0.5em;
	font-size: 3em;
	color: rgba(244, 67, 54, 0.86);
}
.error-content img {
	margin-top: 2em;
}
.error-return {
	color: #2196f3;
}

/* 底部样式 */
.footer, .normal-footer {
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: Optima,"Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",sans-serif;
	color: #999;
}
.footer {
	opacity: 0;
	bottom: 3em;
	transition: all .6s;
	-moz-transition: all .6s; /* Firefox 4 */
	-webkit-transition: all .6s; /* Safari and Chrome */
	-o-transition: all .6s; /* Opera */
}
.normal-footer {
	bottom: 2em;
}

.footer-animate {
	opacity: 1;
	bottom: 2em;
}
