.demo-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  top: 40%;
  left: 50%;
  max-width: 960px;
  max-height: 600px;
  overflow: auto;
  transform: translate(-50%, -50%);
}
.demo-item {
  width: 220px;
  margin: 1em;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 6px -1px #cfcfcf;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.demo-item:hover {
  box-shadow: 0 1px 10px -1px #959595;
}
.demo-title {
  font-size: 1.4em;
  /* text-align: center; */
}
.demo-icon {
  margin-top: .5em;
}
.demo-icon::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: -ms-linear-gradient(left,#45eaff,#b286ff,#fe9c95,#FFEB3B);
  background: -moz-linear-gradient(left,#45eaff,#b286ff,#fe9c95,#FFEB3B);
  background: -o-linear-gradient(left,#45eaff,#b286ff,#fe9c95,#FFEB3B);
  background: -webkit-linear-gradient(left,#45eaff,#b286ff,#fe9c95,#FFEB3B);
  background: linear-gradient(left,#45eaff,#b286ff,#fe9c95,#FFEB3B);
  margin: 1em 0;
}
.footer {
  opacity: 1;
	bottom: 3em;
}